testFile2.txt
monitorRepo
.tc.custom.log4j2.properties
/config
/bin
/log4j.properties
/updates
/web
/lib
/bin
/userFtpRoot
/cacheStore
/WmRepository4
/DocumentStore
/db
/XAStore
/replicate
/temp
/pipeline
/logs
/.tc.dev.log4j.properties
*.log
Default
Wm*
*.bak
sequence-num.dat
packages/JcTestRunner/pub/results/
packages/JcDevopsConsole/resources/files
packages/JcDevopsConsole/resources/configuration
packages/JcDevopsConsole/resources/builds/
packages/RCi*
packages/JcDevopsConsole/config/listeners.cnf
packages/JcHelloWorld/code/classes/.gitignore
packages/JcDevopsConsole/config/listeners.cnf
packages/JcDevopsConsole/resources/configuration
packages/JcDevopsConsole/resources/files/licenses
packages/JcHelloWorld/resources/test
packages/JcDevopsConsole/pub/tests
/support