<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <array name="denyRuleList" type="record" depth="1">
    </array>
    <array name="alertRuleList" type="record" depth="1">
    </array>
    <array name="dosRuleList" type="record" depth="1">
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="ruleName">GlobalDoSRule</value>
        <null name="ruleDescription"/>
        <jboolean name="isRuleEnabled">true</jboolean>
        <value name="requestType">ALL</value>
        <null name="customDirectives"/>
        <null name="resourcePath"/>
        <value name="action">DENY</value>
        <value name="customErrorMessage">Access Denied</value>
        <array name="Filters" type="record" depth="1">
        </array>
      </record>
      <record javaclass="com.wm.data.ISMemDataImpl">
        <value name="ruleName">DoSRuleByIP</value>
        <null name="ruleDescription"/>
        <jboolean name="isRuleEnabled">true</jboolean>
        <value name="requestType">ALL</value>
        <null name="customDirectives"/>
        <null name="resourcePath"/>
        <value name="action">DENY</value>
        <value name="customErrorMessage">Access Denied</value>
        <array name="Filters" type="record" depth="1">
        </array>
      </record>
    </array>
    <record name="alertOption" javaclass="com.wm.data.ISMemDataImpl">
      <value name="alertOnEvery">false</value>
      <value name="alertInterval">0</value>
      <value name="alertType">None</value>
    </record>
    <array name="mobileAppDeviceTypes" type="value" depth="1">
    </array>
    <array name="mobileApplications" type="value" depth="1">
    </array>
  </record>
</IDataXMLCoder>
