<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <jboolean name="isEnabled">false</jboolean>
    <number name="expirationInterval" type="java.lang.Integer">90</number>
    <number name="expiryEmailBefore" type="java.lang.Integer">0</number>
    <value name="emailIds"></value>
    <value name="applicableUsers"></value>
  </record>
</IDataXMLCoder>
